<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <style>
        .input-background{
            background-color: white;
            color: black;
            border: none;
        }
        .input-background:focus{
            border: none;
            outline: none;
        }
        .container-hop-dong{
            font-family: 'Times New Roman', Times, serif;
            width: 100%;
            padding: 0 150px;
        }
        .button-span{
            width: 40px;
            height: 40px;
            background-color: orange;
        }
        .input-edit{
            border: 1px solid rgb(48, 48, 48);
            padding: 2px;
        }
        input{
            border: none;
        }
        .table tbody td, .table thead th{
            padding: 0px;
            text-align: center;
        }
        .table tbody input{
            border: none
        }
    </style>
    <div class="page-wrapper">
        <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-6" style="width: 100%;">
          <div class="card">
              <div class="card-body">
                <h4 class="card-title"></h4>
                <div class="form-group row">
                
                  <div class="container-hop-dong">
                        <button style="width: 100%;" class="input-background"><span style="font-weight: bold; font-size:14pt">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></button>
                        <button style="width: 100%;" class="input-background"><span style="font-weight: bold; font-size:14pt">Độc lập - Tự do- Hạnh phúc</span></button>
                        <button style="width: 100%;" class="input-background"><img src="../assets/images/logo-huewaco.png" width="40px" height="40px" /></button>
                        <button style="width: 100%;" class="input-background"><span style="font-weight: bold; font-size:18pt">HỢP ĐỒNG MUA BÁN</span></button>
                        <button style="width: 100%;" class="input-background">
                            <input id="hop-dong" type="text" style="font-weight: bold; width: 100%; text-align: center;" value="Số 04-ngày 17.08/2023/HDMB/HueWACO-HUNGLOCPHAT"/>
                        </button>
                        <div>- Căn cứ Luật Dân Sự của Quốc Hội Nước Cộng Hòa xã hội chủ nghĩa Việt Nam, Số 91/2015/QH13 ngày 24 tháng 11 năm 2015;</div>
                        <div>- Căn cứ Luật Thương Mại của Quốc hội Nước Cộng Hòa xã hội chủ nghĩa Việt Nam, số 36/2005/QH11 ngày 14 tháng 6 năm 2005;</div>
                        <div>- Căn cứ năng lực và nhu cầu của hai bên.</div>
                        <div>Hôm nay, ngày 
                        <span>
                            <select class="select-ngay">
                                
                            </select>
                        </span> 
                        tháng 
                        <span>
                            <select class="select-thang">
                               
                            </select>
                        </span> 
                        năm 
                        <span>
                            <select class="select-nam">
                                
                            </select>
                        </span> 
                        , tại văn phòng Công ty Cổ phần Cấp nước Thừa Thiên Huế, chúng tôi gồm có:</div>
                        @* BEN A *@
                        <div>
                            <span style="font-weight: bold;">I-Bên A.</span>
                            <input id="input-ben-a" style="font-weight: bold;width: 70%;" value="CÔNG TY CỔ PHẦN CẤP NƯỚC THỪA THIÊN HUẾ"/>
                        </div>
                        <div style="margin-left: 50px;">
                            <div>
                                <span>Đại diện: </span> <span>Ông</span> <input id="input-ten-dai-dien-a" style="font-weight: bold;" value="Dương Quý Dương" /> <span>Chức vụ: </span> <input id="input-chuc-vu-dai-dien-a" style="font-weight: bold;" value="Tổng Giám đốc" />
                            </div>
                            <div>
                                <span>Địa chỉ: </span> <input style="width: 80%;" id="input-dia-chi-a" value="103 Bùi Thị Xuân, P Phường Đúc, Tp Huế, tỉnh Thừa Thiên Huế, Việt Nam" />
                            </div>
                            <div>
                                <span>Điện thoại: </span> <input style="width: 15%;" id="input-dien-thoai-a" value="0234.3845673" />
                            </div>
                            <div>
                                <span>Tài khoản: </span> <input style="width: 60%;" id="input-stk-a" value="5511 0000 000 370 tại NH Đầu tư và Phát triển T.T Huế" />
                            </div>
                            <div>
                                <span>Mã số thuế: </span> <input style="width: 15%;" id="input-stk-a" value="3300 101 491" />
                            </div>
                        </div>
                        @* BEN B *@
                        <div>
                            <span style="font-weight: bold;">I-Bên B.</span>
                            <input id="input-ben-a" style="font-weight: bold;width: 70%;" value="CÔNG TY TNHH MTV HƯNG LỘC PHÁT METAL"/>
                        </div>
                        <div style="margin-left: 50px;">
                            <div>
                                <span>Đại diện: </span> <span>Bà</span> <input id="input-ten-dai-dien-b" style="font-weight: bold;" value="Nguyễn Thị Hường" /> <span>Chức vụ: </span> <input id="input-chuc-vu-dai-dien-b" style="font-weight: bold;" value="Giám đốc" />
                            </div>
                            <div>
                                <span>Địa chỉ: </span> <input style="width: 80%;" id="input-dia-chi-b" value="Số 4 Kiệt 272 Điện Biên Phủ, P.Trường An, TP Huế, Tỉnh TT Huế" />
                            </div>
                            <div>
                                <span>Điện thoại: </span> <input style="width: 50%;" id="input-dien-thoai-a" value="0234.3839099 - 0905009055" />
                            </div>
                            <div>
                                <span>Tài khoản: </span> <input style="width: 60%;" id="input-stk-a" value="1019700320 tại ngân hàng Ngoại Thương Việt Nam - CN Huế" />
                            </div>
                            <div>
                                <span>Mã số thuế: </span> <input style="width: 15%;" id="input-stk-a" value="3300 101 491" />
                            </div>
                        </div>
                        @*BANG MUA HANG *@
                        <div>Sau khi bàn bạc hai bên thỏa thuận ký hợp đồng theo các điều khoản sau: </div>
                        <div><span style="font-weight: bold;">Điều I. Nội dung hợp đồng</span></div>
                        <div>Bên A đồng ý mua vật tư do bên B cung cấp với quy cách, số lượng, đơn giá và tổng số tiền như sau:</div>
                        <table id="table-mua-hang" class="table table-bordered">
                            <thead>
                                <th style="font-weight: bold;">TT</th>
                                <th style="font-weight: bold;">Tên hàng</th>
                                <th style="font-weight: bold; width: 8%">ĐVT</th>
                                <th style="font-weight: bold; width: 10%">Số lượng</th>
                                <th style="font-weight: bold; width: 15%">Đơn giá (đồng)</th>
                                <th style="font-weight: bold; width: 15%">Thành tiền (đồng)</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td><input class="form-control input-ten-hang" value="Vít bắn tôn 1,5cm"/></td>
                                    <td><input class="form-control input-don-vi" value="Kg"/></td>
                                    <td><input class="form-control input-so-luong" onchange="onChangeSoLuong(this)" type="number" value="2"/></td>
                                    <td><input class="form-control input-don-gia" type="number" value="95000"/></td>
                                    <td><input class="form-control input-thanh-tien" type="number" value="190000"/></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><input class="form-control input-ten-hang" value="Vít bắn tôn 1,5cm"/></td>
                                    <td><input class="form-control input-don-vi" value="Kg"/></td>
                                    <td><input class="form-control input-so-luong" onchange="onChangeSoLuong(this)" type="number" value="2"/></td>
                                    <td><input class="form-control input-don-gia" type="number" value="95000"/></td>
                                    <td><input class="form-control input-thanh-tien" type="number" value="190000"/></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><input class="form-control input-ten-hang" value="Vít bắn tôn 1,5cm"/></td>
                                    <td><input class="form-control input-don-vi" value="Kg"/></td>
                                    <td><input class="form-control input-so-luong" onchange="onChangeSoLuong(this)" type="number" value="2"/></td>
                                    <td><input class="form-control input-don-gia" type="number" value="95000"/></td>
                                    <td><input class="form-control input-thanh-tien" type="number" value="190000"/></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><button onclick="themHang(this)" class="btn btn-primary" style="width: 100%;"/>Thêm hàng</button>
                                </tr>
                            </tbody>
                        </table>
                  </div>
                 
                  <div class="border-top">
                    <div class="card-body">
                      <button style="width: 100%;" id="update-nha-cung-ung" type="button" class="btn btn-primary">
                           LẬP HỢP ĐỒNG 
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      @* modal sua noi dung *@
      <div class="modal fade" id="modal-sua-noi-dung" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="content-sua-noi-dung"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="suaNoiDung()">Sửa</button>
            </div>
            </div>
        </div>
    </div>
        @* <button id="btn-xuat-hop-dong" onclick="xuatHopDong()" class="btn btn-primary">Xuất hợp đồng</button>
        <form style="display: none;" action="/api/hop-dong" method="POST">
            <input type="text" name="data" id="input-hop-dong"/>
            <input type="submit" id="btn-submit"/>
        </form> *@
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script src="https://cdn.tiny.cloud/1/ipaf1tr37wfipq9n2hqeqd5u43x2ifhaixpymru0h2uc10ar/tinymce/6/tinymce.min.js"></script>
    <script>
    initTiniMCE('content-sua-noi-dung');
    setUpNgayThang();
    function initTiniMCE(idTextarea){
        tinymce.init({
            selector: `textarea#${idTextarea}`,
            apiKey: 'ipaf1tr37wfipq9n2hqeqd5u43x2ifhaixpymru0h2uc10ar',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            content_css: "../css/tinimce.css"
        });
    }
    //set up ngay thang cho select option
    function setUpNgayThang() {
        let selectNgay = $(".select-ngay");
        let selectThang = $(".select-thang");
        let selectNam = $(".select-nam");
        let ngayHienTai = new Date().getDate();
        let thangHienTai = new Date().getMonth()+1;
        for(let i=0; i<selectNgay.length; i++){
            let options = ""
            for(let j=1; j<=31; j++){
                let option = `<option value="${j}" ${j==ngayHienTai?"selected":""}>${j}</option>`;
                options+=option;
            }
            $(selectNgay[i]).html(options);
        }

        for(let i=0; i<selectThang.length; i++){
            let options = ""
            for(let j=1; j<=12; j++){
                let option = `<option value="${j}" ${j==thangHienTai?"selected":""}>${j}</option>`;
                options+=option;
            }
            $(selectThang[i]).html(options);
        }
        for(let i=0; i<selectNam.length; i++){
            let options="";
            let namHienTai = new Date().getFullYear();
            let optionNamHientai = `<option value=${namHienTai} selected>${namHienTai}</option>`;
            let optionNamTiepTheo = `<option value=${namHienTai+1}>${namHienTai+1}</option>`;
            options+=optionNamHientai+=optionNamTiepTheo;
            $(selectNam[i]).html(options);
        }
    }
    function themHang(param){
        let tr = $(param).parent().parent();
        let rows = $("#table-mua-hang tbody tr");
        let lengthRow = rows.length;
        let row = 
        `<tr>
            <td>${lengthRow}</td>
            <td><input class="form-control input-ten-hang" value=""/></td>
            <td><input class="form-control input-don-vi" value=""/></td>
            <td><input class="form-control input-so-luong" onchange="onChangeSoLuong()" type="number" value=""/></td>
            <td><input class="form-control input-don-gia" type="number" value=""/></td>
            <td><input class="form-control input-thanh-tien" type="number" value=""/></td>
        </tr>`;
        $(row).insertBefore(tr);
        
    }
    function onChangeSoLuong(){

    }
    function exportTextarea(textareaId){
        var content = tinymce.get(textareaId).getContent();
        console.log(content);
    }
    let idSua = "";
    function truyenNoiDung(selector, style, paragraph){
        let content = $(`#${selector}`).text();
        let editor = tinymce.get(`content-sua-noi-dung`);
        let styleContent = $(`#${selector}`).attr("style");
        content = `<p style="${styleContent}">${content}</p>`;
        editor.setContent(content);
        idSua = selector;
    }
    function suaNoiDung(){
        let contentSua = tinymce.get(`content-sua-noi-dung`).getContent();
        @* contentSua =contentSua.split(">")[1].split("<")[0]; *@
        $(`#${idSua}`).html(contentSua);
        console.log(contentSua);
        $("#modal-sua-noi-dung .btn-close").click();
    }
    function xuatHopDong(){
        let obj = 
        {   
            TenFile: `HopDongMuaHang${new Date().getTime()}.docx`,
            ListHang: []
        }
        $("#input-hop-dong").val(JSON.stringify(obj));
        $("#btn-submit").click();
    }
</script>
</body>
<html>
