<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <style>
        .input-background{
            background-color: white;
            color: black;
            border: none;
        }
        .input-background:focus{
            border: none;
            outline: none;
        }
        .container-hop-dong{
            font-family: 'Times New Roman', Times, serif;
            width: 100%;
            padding: 0 150px;
        }
        .button-span{
            width: 40px;
            height: 40px;
            background-color: orange;
        }
        .input-edit{
            border: 1px solid rgb(48, 48, 48);
            padding: 2px;
        }
        input{
            border: none;
        }
        .table tbody td, .table thead th{
            padding: 0px;
            text-align: center;
        }
        .table tbody input{
            border: none
        }
        .btn-trash{
            scale: 0.7;
        }
        .btn-change{
            text-align: left !important;
            border: 1px solid white !important;
        }
        .form-control[readonly]{
            background: none;
        }
        #dieu-khoan-thi-hanh .tieu-de-dieu-khoan{
            font-weight: bold;
        }
        .dieu-khoan-thi-hanh{
            border: 1px solid #ebe6e6;
            border-radius: 15px;
            padding: 15px;
            width: 1187px
        }
        .input-title-quy-cach{
            font-weight: bold;
            width: 50%;
        }
        .list-btn-dieu-khoan button{
            scale: 0.8;
        }
    </style>
    <div class="page-wrapper">
        <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-md-6" style="width: 100%;">
          <div class="card">
              <div class="card-body">
                <h4 class="card-title"></h4>
                <div class="form-group row">
                
                  <div class="container-hop-dong">
                        <button style="width: 100%;" class="input-background"><span style="font-weight: bold; font-size:14pt">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</span></button>
                        <button style="width: 100%;" class="input-background"><span style="font-weight: bold; font-size:14pt">Độc lập - Tự do- Hạnh phúc</span></button>
                        <button style="width: 100%;" class="input-background"><img src="../assets/images/logo-huewaco.png" width="40px" height="40px" /></button>
                        <button style="width: 100%;" class="input-background"><span style="font-weight: bold; font-size:18pt">HỢP ĐỒNG MUA BÁN</span></button>
                        <button style="width: 100%;" class="input-background">
                            <input id="hop-dong" type="text" style="font-weight: bold; width: 100%; text-align: center;" value="Số 04-ngày 17.08/2023/HDMB/HueWACO-HUNGLOCPHAT"/>
                        </button>
                        <div>- Căn cứ Luật Dân Sự của Quốc Hội Nước Cộng Hòa xã hội chủ nghĩa Việt Nam, Số 91/2015/QH13 ngày 24 tháng 11 năm 2015;</div>
                        <div>- Căn cứ Luật Thương Mại của Quốc hội Nước Cộng Hòa xã hội chủ nghĩa Việt Nam, số 36/2005/QH11 ngày 14 tháng 6 năm 2005;</div>
                        <div>- Căn cứ năng lực và nhu cầu của hai bên.</div>
                        <div>Hôm nay, ngày 
                        <span>
                            <select class="select-ngay">
                                
                            </select>
                        </span> 
                        tháng 
                        <span>
                            <select class="select-thang">
                               
                            </select>
                        </span> 
                        năm 
                        <span>
                            <select class="select-nam">
                                
                            </select>
                        </span> 
                        , tại văn phòng Công ty Cổ phần Cấp nước Thừa Thiên Huế, chúng tôi gồm có:</div>
                        @* BEN A *@
                        <div>
                            <span style="font-weight: bold;">I-Bên A.</span>
                            <input id="input-ben-a" style="font-weight: bold;width: 70%;" value="CÔNG TY CỔ PHẦN CẤP NƯỚC THỪA THIÊN HUẾ"/>
                        </div>
                        <div style="margin-left: 50px;">
                            <div>
                                <span>Đại diện: </span> <span>Ông</span> <input id="input-ten-dai-dien-a" style="font-weight: bold;" value="Dương Quý Dương" /> <span>Chức vụ: </span> <input id="input-chuc-vu-dai-dien-a" style="font-weight: bold;" value="Tổng Giám đốc" />
                            </div>
                            <div>
                                <span>Địa chỉ: </span> <input style="width: 80%;" id="input-dia-chi-a" value="103 Bùi Thị Xuân, P Phường Đúc, Tp Huế, tỉnh Thừa Thiên Huế, Việt Nam" />
                            </div>
                            <div>
                                <span>Điện thoại: </span> <input style="width: 15%;" id="input-dien-thoai-a" value="0234.3845673" />
                            </div>
                            <div>
                                <span>Tài khoản: </span> <input style="width: 60%;" id="input-stk-a" value="5511 0000 000 370 tại NH Đầu tư và Phát triển T.T Huế" />
                            </div>
                            <div>
                                <span>Mã số thuế: </span> <input style="width: 15%;" id="input-stk-a" value="3300 101 491" />
                            </div>
                        </div>
                        @* BEN B *@
                        <div>
                            <span style="font-weight: bold;">I-Bên B.</span>
                            <input id="input-ben-a" style="font-weight: bold;width: 70%;" value="CÔNG TY TNHH MTV HƯNG LỘC PHÁT METAL"/>
                        </div>
                        <div style="margin-left: 50px;">
                            <div>
                                <span>Đại diện: </span> <span>Bà</span> <input id="input-ten-dai-dien-b" style="font-weight: bold;" value="Nguyễn Thị Hường" /> <span>Chức vụ: </span> <input id="input-chuc-vu-dai-dien-b" style="font-weight: bold;" value="Giám đốc" />
                            </div>
                            <div>
                                <span>Địa chỉ: </span> <input style="width: 80%;" id="input-dia-chi-b" value="Số 4 Kiệt 272 Điện Biên Phủ, P.Trường An, TP Huế, Tỉnh TT Huế" />
                            </div>
                            <div>
                                <span>Điện thoại: </span> <input style="width: 50%;" id="input-dien-thoai-a" value="0234.3839099 - 0905009055" />
                            </div>
                            <div>
                                <span>Tài khoản: </span> <input style="width: 60%;" id="input-stk-a" value="1019700320 tại ngân hàng Ngoại Thương Việt Nam - CN Huế" />
                            </div>
                            <div>
                                <span>Mã số thuế: </span> <input style="width: 15%;" id="input-stk-a" value="3300 101 491" />
                            </div>
                        </div>
                        @*BANG MUA HANG *@
                        <div>Sau khi bàn bạc hai bên thỏa thuận ký hợp đồng theo các điều khoản sau: </div>
                        <div><span style="font-weight: bold;">Điều I. Nội dung hợp đồng</span></div>
                        <div>Bên A đồng ý mua vật tư do bên B cung cấp với quy cách, số lượng, đơn giá và tổng số tiền như sau:</div>
                        <table id="table-mua-hang" class="table table-bordered">
                            <thead>
                                <th style="font-weight: bold;">TT</th>
                                <th style="font-weight: bold;">Tên hàng</th>
                                <th style="font-weight: bold; width: 8%">ĐVT</th>
                                <th style="font-weight: bold; width: 10%">Số lượng</th>
                                <th style="font-weight: bold; width: 15%">Đơn giá (đồng)</th>
                                <th style="font-weight: bold; width: 15%">Thành tiền (đồng)</th>
                                <th class="btn-change"></th>
                            </thead>
                            <tbody>
                                <tr id="tr-1">
                                    <td class="tr-stt">1</td>
                                    <td><input class="form-control input-ten-hang" oninput="onChangeThanhTien(this,1,'tenHang')" value="Vít bắn tôn 1,5cm"/></td>
                                    <td><input class="form-control input-don-vi" oninput="onChangeThanhTien(this,1,'donVi')" value="Kg"/></td>
                                    <td><input class="form-control input-so-luong" oninput="onChangeThanhTien(this,1)" value="2.33"/></td>
                                    <td><input class="form-control input-don-gia" oninput="onChangeThanhTien(this,1)" value="95000"/></td>
                                    <td><input readonly class="form-control input-thanh-tien"/></td>
                                    <td class="btn-change"><button class="btn btn-danger btn-trash" onclick="xoaHang(1)"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                <tr id="row-total">
                                    <td colspan="5" style="font-weight: bold;">Tổng cộng tiền hàng chưa VAT</td>
                                    <td style="font-weight: bold;" id="row-total-td">0</td>
                                </tr>
                                <tr>
                                    <td colspan="6" style="font-weight: bold;">
                                        Bằng chữ : <span id="chu-so-tong-cong-tien">sdsdsdsd</span>
                                    </td>
                                    <td style="border:1px solid white"></td>
                                </tr>
                                <tr>
                                    <td colspan="6"><button onclick="themHang(this)" class="btn btn-primary" style="width: 100%;"/>Thêm hàng</button>
                                    <td class="btn-change"></td>
                                </tr>
                            </tbody>
                        </table>
                        @* DIEU KHOAN THI HANH *@
                        <div id="dieu-khoan-thi-hanh" style="width: 100%;">

                            <div id="container-dieu-khoan-thi-hanh-1" style="display: flex; gap:10px; margin-bottom: 20px;">
                                <div id="dieu-khoan-thi-hanh-1" class="dieu-khoan-thi-hanh" ondblclick="hienThiNoidung('textarea-noi-dung-dieu-khoan-1')">
                                    <div ondblclick="hienThiNoidung('textarea-noi-dung-dieu-khoan-1')" class="tieu-de-dieu-khoan" id="tieu-de-dieu-khoan-1">Điều <span>II. </span><input class="input-title-quy-cach" id="title-quy-cach-1" value="Qui cách phẩm chất hàng hóa"/></div>
                                    
                                    <div style="display: none; gap: 5px;" id="container-textarea-noi-dung-dieu-khoan-1">
                                        <textarea id="textarea-noi-dung-dieu-khoan-1" style="width: 100%;">
                                            <p>- Hàng mới 100%</p>
                                            <p>- Chất lượng hàng hóa theo tiêu chuẩn</p>
                                        </textarea>
                                        <div><button class="btn btn-primary" onclick="clickXuatNoidung('textarea-noi-dung-dieu-khoan-1')"><i class="fas fa-pencil-alt"></i></button></div>
                                    </div>
                                    
                                    <div id="noi-dung-dieu-khoan-1" style="display: block;">
                                        <p>- Hàng mới 100%</p>
                                        <p>- Chất lượng hàng hóa theo tiêu chuẩn</p>
                                    </div>
                                </div>

                                <div class="list-btn-dieu-khoan">
                                    <button class="btn btn-danger" onclick="xoaDieuKhoan('container-dieu-khoan-thi-hanh-1')">&#10006;</button>
                                    <button class="btn btn-primary" onclick="themDieuKhoan('container-dieu-khoan-thi-hanh-1')"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>

                        </div>
                  </div>
                 
                  <div class="border-top">
                    <div class="card-body">
                      <button style="width: 100%;" id="update-nha-cung-ung" type="button" class="btn btn-primary">
                           LẬP HỢP ĐỒNG 
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      @* modal sua noi dung *@
      <div class="modal fade" id="modal-sua-noi-dung" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="content-sua-noi-dung"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="suaNoiDung()">Sửa</button>
            </div>
            </div>
        </div>
    </div>
        @* <button id="btn-xuat-hop-dong" onclick="xuatHopDong()" class="btn btn-primary">Xuất hợp đồng</button>
        <form style="display: none;" action="/api/hop-dong" method="POST">
            <input type="text" name="data" id="input-hop-dong"/>
            <input type="submit" id="btn-submit"/>
        </form> *@
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script src="https://cdn.tiny.cloud/1/ipaf1tr37wfipq9n2hqeqd5u43x2ifhaixpymru0h2uc10ar/tinymce/6/tinymce.min.js"></script>
    <script>
    initTiniMCE('textarea-noi-dung-dieu-khoan-1');
    setUpNgayThang();
    function initTiniMCE(idTextarea){
        tinymce.init({
            selector: `textarea#${idTextarea}`,
            language: 'vi',
            apiKey: 'ipaf1tr37wfipq9n2hqeqd5u43x2ifhaixpymru0h2uc10ar',
            plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            content_css: "../css/tinimce.css"
        });
    }
    
    //set up ngay thang cho select option
    function setUpNgayThang() {
        let selectNgay = $(".select-ngay");
        let selectThang = $(".select-thang");
        let selectNam = $(".select-nam");
        let ngayHienTai = new Date().getDate();
        let thangHienTai = new Date().getMonth()+1;
        for(let i=0; i<selectNgay.length; i++){
            let options = ""
            for(let j=1; j<=31; j++){
                let option = `<option value="${j}" ${j==ngayHienTai?"selected":""}>${j}</option>`;
                options+=option;
            }
            $(selectNgay[i]).html(options);
        }

        for(let i=0; i<selectThang.length; i++){
            let options = ""
            for(let j=1; j<=12; j++){
                let option = `<option value="${j}" ${j==thangHienTai?"selected":""}>${j}</option>`;
                options+=option;
            }
            $(selectThang[i]).html(options);
        }
        for(let i=0; i<selectNam.length; i++){
            let options="";
            let namHienTai = new Date().getFullYear();
            let optionNamHientai = `<option value=${namHienTai} selected>${namHienTai}</option>`;
            let optionNamTiepTheo = `<option value=${namHienTai+1}>${namHienTai+1}</option>`;
            options+=optionNamHientai+=optionNamTiepTheo;
            $(selectNam[i]).html(options);
        }
    }
    function themHang(param){
        let tr = $("#table-mua-hang tbody #row-total");
        let rows = $("#table-mua-hang tbody tr");
        let lengthRow = rows.length-2;
        let row = 
        `<tr id="tr-${lengthRow}">
            <td class="tr-stt">${lengthRow}</td>
            <td><input class="form-control input-ten-hang" oninput="onChangeThanhTien(this,${lengthRow},'tenHang')" value=""/></td>
            <td><input class="form-control input-don-vi" oninput="onChangeThanhTien(this,${lengthRow},'donVi')" value=""/></td>
            <td><input class="form-control input-so-luong" oninput="onChangeThanhTien(this,${lengthRow})" value=""/></td>
            <td><input class="form-control input-don-gia" oninput="onChangeThanhTien(this,${lengthRow})" value=""/></td>
            <td><input readonly class="form-control input-thanh-tien"/></td>
            <td class="btn-change"><button class="btn btn-danger btn-trash" onclick="xoaHang(${lengthRow})"><i class="fa fa-trash"></i></button></td>
        </tr>`;
        $(row).insertBefore(tr);
        
    }
    let invalid = false;
    function onChangeThanhTien(param,index,string){
        let soLuong = $($(`#table-mua-hang .input-so-luong`)[index-1]).val();
        let donGia = $($(`#table-mua-hang .input-don-gia`)[index-1]).val();
        let tenHang = $($(`#table-mua-hang .input-ten-hang`)[index-1]).val();
        let donVi = $($(`#table-mua-hang .input-don-vi`)[index-1]).val();
        let obj = {
            soLuong: {
                selector: ".input-so-luong",
                val: soLuong
            },
            donGia: {
                selector: ".input-don-gia",
                val: donGia
            },
            tenHang: {
                selector: ".input-ten-hang",
                val: tenHang
            },
            donVi: {
                selector: ".input-don-vi",
                val: donVi
            }
        }
        for(let key of Object.keys(obj)){
            let tr = $($(`#table-mua-hang ${obj[key]["selector"]}`)[index-1]);
            if(!obj[key]["val"]){
                $(tr).css("border","1px solid red");
                invalid = true;
            }else{
                $(tr).css("border","none");
            }
        }
        
        if(!string){
            $($(`#table-mua-hang .input-thanh-tien`)[index-1]).val(soLuong*donGia);
            autoFillTongTien();
        }
    }

    function nganCachSo(number){
        let numberStr = `${number}`.split(".");
        let result = numeral(number).format("0,0");
        return result;
    }

    autoFillTongTien();
    function autoFillTongTien(){
        let soLuongRows = $(`#table-mua-hang .input-so-luong`);
        let donGiaRows = $(`#table-mua-hang .input-don-gia`);
        let thanhTienRows = $(`#table-mua-hang .input-thanh-tien`);
        for(let i=0; i<soLuongRows.length; i++){
            let soLuongVal = $(soLuongRows[i]).val();
            let donGiaVal = $(donGiaRows[i]).val();

            @* $(soLuongRows[i]).val(nganCachSo(soLuongVal)); *@
            $(donGiaRows[i]).val(nganCachSo(donGiaVal));

            @* soLuongVal = numeral($(soLuongRows[i]).val()).value(); *@
            donGiaVal = numeral($(donGiaRows[i]).val()).value();

            let result = nganCachSo(soLuongVal*donGiaVal);
            $(thanhTienRows[i]).val(result);
        }
        let result = 0;
        for(let i=0; i<thanhTienRows.length; i++){
            let val = numeral($($(thanhTienRows)[i]).val()).value();
            result+=val;
        }
        result = nganCachSo(result);
        $("#table-mua-hang #row-total-td").text(result);
        $("#table-mua-hang #chu-so-tong-cong-tien").text(`${doiSoThanhChu(result)} đồng`)
    }
    function xoaHang(id){
        $(`#table-mua-hang #tr-${id}`).remove();
        let rows = $("#table-mua-hang tbody tr");
        for(let i=0; i<rows.length; i++){
            let rowStt = $("#table-mua-hang tbody tr .tr-stt")[i];
            $(rowStt).text(i+1);
        }
        autoFillTongTien();
    }
    @* ==================================XU LY TINIMCE(Van ban)========================================== *@
    let idSua = "";
    function truyenNoiDung(selector, style, paragraph){
        let content = $(`#${selector}`).text();
        let editor = tinymce.get(`content-sua-noi-dung`);
        let styleContent = $(`#${selector}`).attr("style");
        content = `<p style="${styleContent}">${content}</p>`;
        editor.setContent(content);
        idSua = selector;
    }
    function suaNoiDung(){
        let contentSua = tinymce.get(`content-sua-noi-dung`).getContent();
        @* contentSua =contentSua.split(">")[1].split("<")[0]; *@
        $(`#${idSua}`).html(contentSua);
        console.log(contentSua);
        $("#modal-sua-noi-dung .btn-close").click();
    }
    function clickXuatNoidung(textareaId){
        let textareaIdLength = textareaId.split("-");
        let id = textareaIdLength[textareaIdLength.length-1];
        let content = tinymce.get(textareaId).getContent();
        $(`#noi-dung-dieu-khoan-${id}`).html(content);
        $(`#noi-dung-dieu-khoan-${id}`).css("display","block");
        $(`#container-textarea-noi-dung-dieu-khoan-${id}`).css("display","none");
    }
    function hienThiNoidung(textareaId){
        let textareaIdLength = textareaId.split("-");
        let id = textareaIdLength[textareaIdLength.length-1];
        $(`#noi-dung-dieu-khoan-${id}`).css("display","none");
        $(`#container-textarea-noi-dung-dieu-khoan-${id}`).css("display","flex");
    }
    function xoaDieuKhoan(dieuKhoanId){
        let dieuKhoanIdLength = dieuKhoanId.split("-");
        let id = dieuKhoanIdLength[dieuKhoanIdLength.length-1];
        let tieuDeDieuKhoan = $(`#tieu-de-dieu-khoan-${id}`).text();
        Swal.fire({
            icon: "error",
            title: "Cảnh báo",
            html: `Xóa sẽ không thể khôi phục. Bạn chắc chắn muốn xóa <strong>${tieuDeDieuKhoan} ?</strong>`,
            @* showDenyButton: true, *@
            showCancelButton: true,
            confirmButtonText: "Xóa",
            @* denyButtonText: `Don't save` *@
        }).then((result) => {
            if (result.isConfirmed) {
                $(`#${dieuKhoanId}`).remove();
            } else if (result.isDenied) {
                
            }
        });
    }
    function themDieuKhoan(dieuKhoanIdInsert){
        let dieuKhoanIdLength = dieuKhoanIdInsert.split("-");
        let idInsert = dieuKhoanIdLength[dieuKhoanIdLength.length-1];
        let id = idInsert+1;
        let content = 
        `
            <div id="container-dieu-khoan-thi-hanh-${id}" style="display: flex; gap:10px; margin-bottom: 20px;">
                <div id="dieu-khoan-thi-hanh-1" class="dieu-khoan-thi-hanh" ondblclick="hienThiNoidung('textarea-noi-dung-dieu-khoan-${id}')">
                    <div ondblclick="hienThiNoidung('textarea-noi-dung-dieu-khoan-${id}')" class="tieu-de-dieu-khoan" id="tieu-de-dieu-khoan-${id}">Điều <span>II. </span><span id="title-quy-cach-${id}"><input class="input-title-quy-cach" style="font-weight: bold;" id="title-quy-cach-1" /></span></div>
                    
                    <div style="display: none; gap: 5px;" id="container-textarea-noi-dung-dieu-khoan-${id}">
                        <textarea id="textarea-noi-dung-dieu-khoan-${id}" style="width: 100%;">
                            <p>- Hàng mới 100%</p>
                            <p>- Chất lượng hàng hóa theo tiêu chuẩn</p>
                        </textarea>
                        <div><button class="btn btn-primary" onclick="clickXuatNoidung('textarea-noi-dung-dieu-khoan-${id}')"><i class="fas fa-pencil-alt"></i></button></div>
                    </div>
                    
                    <div id="noi-dung-dieu-khoan-${id}" style="display: block;">
                        <p>- Hàng mới 100%</p>
                        <p>- Chất lượng hàng hóa theo tiêu chuẩn</p>
                    </div>
                </div>

                <div class="list-btn-dieu-khoan">
                    <button class="btn btn-danger" onclick="xoaDieuKhoan('container-dieu-khoan-thi-hanh-${id}')">&#10006;</button>
                    <button class="btn btn-primary" onclick="themDieuKhoan('container-dieu-khoan-thi-hanh-${id}')"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        `;
        $(content).insertAfter(`#container-dieu-khoan-thi-hanh-${idInsert}`);
        initTiniMCE(`textarea-noi-dung-dieu-khoan-${id}`);
    }
    function xuatHopDong(){
        let obj = 
        {   
            TenFile: `HopDongMuaHang${new Date().getTime()}.docx`,
            ListHang: []
        }
        $("#input-hop-dong").val(JSON.stringify(obj));
        $("#btn-submit").click();
    }
</script>
</body>
<html>
