<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <div class="page-wrapper">
        <style>
            #table-data tr th{
                background-color: #34b7eb;
                color: black;
                font-size: 16px;
                padding: 0px;
                text-align: center;
                border: 1px solid #d7d7d7;
                text-align: center;
                vertical-align: middle;
            }
            #table-data tr td{
                color: black;
                text-align: center;
                border: 1px solid #d7d7d7;
                padding-top: 0px;
                vertical-align: middle;
            }
            #table-data{
                background-color: white;
            }
        </style>
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        @* <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div> *@
        <a href="/hop-dong/create">
            <button class="btn btn-primary" style="width: 100%;">TẠO HỢP ĐỒNG</button>
        </a>
        <div style="overflow: scroll;">
            <table class="table" id="table-data" data-show-columns="true" style="overflow: scroll;">
                <thead>
                    <th style="width: 10px;">STT</th>
                    <th style="min-width: 200px;">SỐ HỢP ĐỒNG</th>
                    <th style="min-width: 100px;">NHÀ CUNG ỨNG</th>
                    <th style="min-width: 100px;">NGƯỜI ĐẠI DIỆN</th>
                    <th style="width: 200px;">NGÀY KÍ HỢP ĐỒNG</th>
                    <th>ACTION</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
       
        <button class="btn btn-primary" style="width: 20%; margin-left: 40%;" onclick="intData()">XEM THÊM</button>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>
        let page = 0;
        function intData(){
            page++
            $.ajax({
                url: host + `/api/hop-dong?pageNumber=${page}`
            })
            .done(res=>{
                let rows = "";
                let intStt = 10*(page-1);
                console.log(res)
                for(let i=0; i<res.length; i++){
                    let row = 
                    `
                        <tr>
                            <td>${++intStt}</td>
                            <td><a href=/hop-dong/update?id=${res[i].id}>${res[i].soHopDong}</a></td>
                            <td>${res[i].tenNhaCungUng}</td>
                            <td>${res[i].gioiTinhNhaCungUng==0?"Bà":"Ông"} ${res[i].daiDienNhaCungUng}</td>
                            <td>${convertISOTime(res[i].ngayKiKet, "date")}</td>
                            <td>
                                <button style="background-color: red; color: white; padding: 5px 10px"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    `;
                    rows+=row;
                }
                $(rows).insertBefore("#table-data tbody")
                @* $("#table-data tbody").html(rows); *@
            })
        }
        intData();
    </script>
</body>
<html>
