<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <div class="page-wrapper">
        <style>
            #table-data tr th{
                background-color: #34b7eb;
                color: black;
                font-size: 16px;
                padding: 0px;
                text-align: center;
                border: 1px solid #d7d7d7;
                text-align: center;
                vertical-align: middle;
            }
            #table-data tr td{
                color: black;
                text-align: center;
                border: 1px solid #d7d7d7;
                padding-top: 0px;
                vertical-align: middle;
            }
            #table-data{
                background-color: white;
            }
        </style>
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        @* <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div> *@
        <div style="overflow: scroll;">
            <table class="table" id="table-data" data-show-columns="true" style="overflow: scroll;">
                <thead>
                    <th>STT</th>
                    <th style="min-width: 200px;">SỐ HỢP ĐỒNG</th>
                    <th style="min-width: 100px;">CÔNG TY BÁN HÀNG</th>
                    <th style="min-width: 150px;">NGƯỜI ĐẠI DIỆN</th>
                    <th style="min-width: 150px;">NGÀY KÍ HỢP ĐỒNG</th>
                    <th>ACTION</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <a href="/hop-dong/create">
                <button class="btn btn-primary" style="width: 100%;">TẠO HỢP ĐỒNG</button>
            </a>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>

    </script>
</body>
<html>
