<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        @* <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div> *@
        <div style="overflow: scroll;">
            <table class="table" id="table-data" data-show-columns="true" style="overflow: scroll;">
                <thead>
                    <th>STT</th>
                    <th style="min-width: 200px;">SỐ HỢP ĐỒNG</th>
                    <th style="min-width: 100px;">CÔNG TY BÁN HÀNG</th>
                    <th style="min-width: 150px;">NGƯỜI ĐẠI DIỆN</th>
                    <th style="min-width: 150px;">NGÀY KÍ HỢP ĐỒNG</th>
                    <th>ACTION</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>
    </script>
</body>
<html>
