<!DOCTYPE html>
<html dir="ltr" lang="en">
@Html.Partial("layout/Header")

<body>
    @Html.Partial("layout/TopBar")
    @Html.Partial("layout/LeftBar")
    <style>
        .table tr th{
            background-color: #34b7eb;
            color: black;
            font-size: 16px;
        }
        .table tr td{
            color: black
        }
        
        #table-tong-hop th, #table-tong-hop td{
            border: 1px solid black;
        }
    </style>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        @* <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div> *@
        @* <div style="width: 100%;" id="container-filter">
            <input oninput="search(this)" class="form-control" type="search" id="search" style="width: 100%;" placeholder="Tìm kiếm theo tên vật tư, ghi chú, yêu cầu kĩ thuật"/>
        </div> *@
        @* <div id="caption-tong-hop" style="display:none; width: 100%;">BÁO GIÁ</div> *@
        <table class="table" id="table-tong-hop" style="width: 100%;">
            <thead>
                <th>NHÀ CUNG ỨNG</th>
                <th>TÊN VẬT TƯ</th>
                <th>YÊU CẦU KĨ THUẬT</th>
                <th>SỐ LƯỢNG BÁO GIÁ</th>
                <th>ĐƠN VỊ TÍNH</th>
                @* <th>GHI CHÚ</th> *@
            </thead>
            <tbody>

            </tbody>
        </table>
        <button class="btn btn-primary" style="width: 100%;" onclick="directUpdate()">CẬP NHẬT</button>
        <form action="/api/bao-gia/lap-bao-gia" method="POST" style="display:none">
            <input name="data" type="text" id="input-bao-gia-param"/>
            <input type="submit" id="submit-bao-gia"/>
        </form>
        @* <ul id="pagination" class="pagination"></ul> *@
        
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    @Html.Partial("layout/Footer")
    <script>
        {
        const searchParams = new URLSearchParams(window.location.search);
        const id = searchParams.get("id");
        function directUpdate(){
            window.location.href = `/bao-gia/cap-nhat?id=${id}`;
        }
        //===========================INIT DATA==============================
        $.ajax({
            "headers": {
                "Content-Type": "application/json"
            },
            url: host+ `/api/bao-gia/detail?id=${id}`,
            method: "GET",
        })
        .done(res=>{
            let tr = ""
            for(let i=0; i<res.length; i++){
                let baoGiaId = res[i].baoGiaId;
                let id = res[i].id;
                let idNhaCungUng = res[i].idNhaCungUng;
                let tenNhaCungUng = res[i].tenNhaCungUng;
                let listVatTu = res[i].listVatTu;
                for(let j=0; j<listVatTu.length; j++){
                    let td = "";
                    if(j==0){
                        td = `
                        <tr>
                            <td rowspan=${listVatTu.length}>${tenNhaCungUng}</td>
                            <td>${listVatTu[j].tenVatTu}</td>
                            <td>${listVatTu[j].yeuCauKiThuat}</td>
                            <td>${listVatTu[j].soLuong}</td>
                            <td>${listVatTu[j].donViTinh}</td>
                            @* <td>${listVatTu[j].ghiChu}</td> *@
                        </tr>`
                    }else{
                        td = `
                        <tr>
                            <td>${listVatTu[j].tenVatTu}</td>
                            <td>${listVatTu[j].yeuCauKiThuat}</td>
                            <td>${listVatTu[j].soLuong}</td>
                            <td>${listVatTu[j].donViTinh}</td>
                            @* <td>${listVatTu[j].ghiChu}</td> *@
                        </tr>`
                    }
                    tr+=td
                }
            }
            console.log(tr)
            $("#table-tong-hop tbody").html(tr);
        })
        .fail(err=>{
            console.log(err);
        })
        }
    </script>
</body>
<html>
